h1{color:#00008B;}
    body{border:solid;
        background-image: url("background.webp");
        background-size: cover;
    }
    
.header{
    background-color:#80FF00;
    display:flex;
    justify-content: center;
    border-radius: 20px;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}